body{
    margin: 0;
    background: #3b393d;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.glassmorphism{
    background: rgba(0, 0, 0, 0.247);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.glassmorphism::before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background-image: url("../images/grain.png");
    opacity: 0.1;
}
.btn-primary{
    border-radius: 2rem!important;
    background-color: #743ad5;
    border: none;
}
.active{
    background-color: #743ad5!important;
}

.nav-pills .nav-link {
    color: #fff;
    border-radius: 2rem!important;
}

.nav-link:hover{
    color: #d53a9d;
}

.dropdown-toggle::after{
    border:none
}

.dropdown-menu{
    border: none!important;
    background-color: #ffffff00;
    color: white!important;
    position: absolute;
    bottom: 10px!important;
}

.dropdown-item{
    color: white!important;
    background-color: #3b393d;
}
.dropdown-item:hover{
    background-color: #d53a9d;
}

.navBar{
    position: fixed;
    z-index: 5;
    width: 85%;
    max-width: 450px;
    margin: 5% auto;
    padding: 10px;
    left: 0;
    right: 0;
    bottom: 0;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: 75px;
}

.card{
    margin: 10px 0;
    color: white;
}
.card .title{
    justify-content: space-between;
}
.action-buttons{
    justify-content: space-around;
}

.fa-heart{
    transform: scale(1.3);
}


@media (min-width: 768px) {
  
    .card{
        margin: 10px 20px;
    }
    
    .navBar{
        bottom: -35px;
    }
}